{% load static %}
<!DOCTYPE html>
<html lang="en">
 
<head>
        <meta charset="utf-8" />
        <title>BinaryBridge</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!-- App css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static 'assets/css/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style" />
        <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css" />

    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu" id="sidebarMenus">
                {% include 'base.html' %}
              </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                    <div class="navbar-custom" id="load-navigation">{% include 'hearder.html' %} </div>
                    <!-- end Topbar -->
                    <!-- Start Content-->
                    <div class="container-fluid">
                        <div class="row mt-2">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown float-end">
                                            <a href="/dashboard" class="btn btn-sm btn-primary">
                                                <small>
                                                    <strong>
                                                        <i class="fa-solid fa-house"></i> Home
                                                    </strong>
                                                </small>
                                            </a>
                                        </div> 
                                        {% comment %} <div class="dropdown float-end">
                                            {% if request.user.is_superuser %}
                                            <a href="" class="text-danger" title="sync. readings now (Admin rights only)">
                                                
                                            </a>&nbsp;&nbsp;&nbsp;
                                            {% endif %}
                                            <a href="#" class="btn btn-sm btn-primary">
                                                <div class="spinner-grow spinner-grow-sm" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                                <small>
                                                    <strong>
                                                        &nbsp;Sync. Devices Configuration
                                                    </strong>
                                                </small>
                                            </a>
                                        </div> {% endcomment %}
                                        <h4 class="header-title mb-3"><i class="fa-solid fa-gear"></i> Site Update | <span class="text-info">{{siteObj.prefix|upper}}</span></h4>
                                        <hr>
                                        <div class="row m-1">
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="name" class="form-label"><strong>Device ID (Prefix)</strong></label>
                                                    <strong style="cursor: not-allowed;">
                                                        <p>
                                                            {{siteObj.prefix|upper}}
                                                        </p>
                                                    </strong>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="name" class="form-label"><strong>Device Name</strong></label>
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter Device Name"
                                                     id="dev_name" value="{{siteObj.name}}">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="name" class="form-label"><strong>Related Project</strong> &nbsp;&nbsp;</label>
                                                    <!-- <input type="text" class="form-control"
                                                        placeholder="Enter Device Location" id="dev_proj" value="{{siteObj.project.name}}"> -->
                                                        <select class="form-select qualification" id="dev_proj">
                                                            <option selected class='d-none' value=''>Select Project
                                                            </option>
                                                            {% for proj in projects %}
                                                            <option value="{{proj.uuid}}">{{proj.name}} - {{proj.described_name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="name" class="form-label"><strong>Device Location</strong> &nbsp;&nbsp;</label>
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter Device Location" id="dev_loc" value="{{siteObj.device_location}}">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="name" class="form-label"><strong>Device Lattitude</strong> &nbsp;&nbsp;</label>
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter Device Lattitude" id="dev_lat" value="{{siteObj.site_lattitude}}">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="name" class="form-label"><strong>Device Longitude</strong> &nbsp;&nbsp;</label>
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter Device Longitude" id="dev_lon" value="{{siteObj.sit_longitude}}">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="name" class="form-label"><strong>Telepro Prefix</strong> &nbsp;&nbsp;</label>
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter Telepro prefix (if any.)" id="tpro_prfx" value="{{siteObj.tpro_prefix}}">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="name" class="form-label"><strong>Telepro File Name</strong> &nbsp;&nbsp;</label>
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter Telepro file name (if any.)" id="tpro_file" value="{{siteObj.tpro_file_name}}">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="col-lg-4 mt-2">
                                                <div class="mb-3">
                                                    <label for="name" class="form-label"><strong>Last Reading Timestamp From Device</strong> &nbsp;&nbsp;</label>
                                                    <strong style="cursor: not-allowed;">
                                                        <p class="text-primary">
                                                            {{siteObj.last_reading_received_at}}
                                                        </p>
                                                    </strong>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 mt-2">
                                                <div class="mb-3">
                                                    <label for="name" class="form-label"><strong>Last Reading Received From Device</strong> &nbsp;&nbsp;</label>
                                                    <strong style="cursor: not-allowed;">
                                                        <br>
                                                        {% for k,v in siteObj.last_readings.items %}
                                                            <span class="bg-info text-white" style="border:1px solid info;padding-top:3px;padding-bottom:3px;padding-left:6px;padding-right:6px;border-radius:5px;">{{k|title}} : {{v}}</span>
                                                        {% endfor %}
                                                    </strong>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 mt-3">
                                                <div class="mb-3">
                                                    <p for="name" class="form-label"><strong>Device Sensor Position Configuration</strong> &nbsp;&nbsp;</p>
                                                    <hr>
                                                    <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
                                                    <div class="row">
                                                    {% for k, v in siteObj.device_config.items %}
                                                            {% if k == "sensor_position" %}
                                                                {% for kk, vv in v.items %}
                                                                    <div class="col-lg-2">
                                                                        <div class="mb-3">
                                                                            <label for="text" class="form-label"><strong>Position {{kk|upper}}</strong> &nbsp;&nbsp;</label>
                                                                            {% if vv == 'timestamp' %}
                                                                            <input type="text" class="form-control"
                                                                            placeholder="Enter sensor at position {{kk}}" value="{{vv}}" readonly>
                                                                            {% elif vv == 'count' %}
                                                                            <input type="text" class="form-control"
                                                                            placeholder="Enter sensor at position {{kk}}" value="{{vv}}" readonly>
                                                                            {% else %}
                                                                            <input type="text" class="form-control"
                                                                            placeholder="Enter sensor at position {{kk}}" value="{{vv}}" id="pos{{kk}}">
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            {% else %}
                                                                <div class="col-lg-6">
                                                                    <div class="mb-3">
                                                                        <label for="name" class="form-label"><strong>{{k|upper}}</strong> &nbsp;&nbsp;</label>
                                                                        <input type="text" class="form-control"
                                                                            placeholder="Enter device {{k}}"  value="{{v}}" readonly>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div>
                        </div>

                        <div class="row mt-2 mb-4">
                            <div class="col-lg-12 text-right">
                                <a href="/dashboard" class="btn btn-sm btn-secondary"><i class="fa-solid fa-circle-xmark"></i> <strong>Cancel</strong></a>
                                <a class="btn btn-sm btn-info text-white" onclick="update_device_config(this)" uuid="{{siteObj.uuid}}"><i class="fa-solid fa-circle-check"></i> <strong>Update Device Configurations</strong></a>
                            </div>
                        </div>
                        <!-- end row-->
                </div> <!-- content -->
                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="https://i-telemetry.com/" target="_blank">
                                    <img src="https://i-telemetry.com/wp-content/uploads/2022/10/ittpl....png"  height="25px" alt="">
                                </a>
                            </div>
                            <div class="col-md-6  text-right">
                                <script>document.write(new Date().getFullYear())</script> © ITTPL
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


       
        <!-- /End-bar -->

        <!-- bundle -->

        <script src="{% static 'assets/js/vendor.min.js' %}"></script>
        <script src="{% static 'assets/js/app.min.js' %}"></script>

        <!-- third party js -->
        <script src="{% static 'assets/js/vendor/Chart.bundle.min.js' %}"></script>
        <!-- third party js ends -->

        <!-- demo app -->
        <script src="{% static 'assets/js/pages/demo.dashboard-projects.js' %}"></script>
        <!-- end demo js-->


        <script src="{% static 'assets/js/custom.js' %}"></script>

        
        
    </body>
 <script>
    var project = "{{siteObj.project.uuid}}";
    console.log('project >>> ',project);
    $('#dev_proj').val(project);

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
 </script>
 <script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function update_device_config(thisTxt){
        let uuid = $(thisTxt).attr('uuid');
        let dev_name = $('#dev_name').val().trim();
        let dev_loc = $('#dev_loc').val().trim();
        let dev_lat = $('#dev_lat').val().trim();
        let dev_lon = $('#dev_lon').val().trim();
        let tpro_prfx = $('#tpro_prfx').val().trim();
        let tpro_file = $('#tpro_file').val().trim();
        let dev_proj = $('#dev_proj').val().trim();
        
        let pos1 = $('#pos2').val().trim();
        let pos2 = $('#pos3').val().trim();
        let pos3 = $('#pos4').val().trim();
        let pos4 = $('#pos5').val().trim();
        let pos5 = $('#pos6').val().trim();
        let pos6 = $('#pos7').val().trim();
        let pos7 = $('#pos8').val().trim();
        let pos8 = $('#pos9').val().trim();
        let pos9 = $('#pos10').val().trim();
        let pos10 = $('#pos11').val().trim();
        
        console.log('uuid >>>> ',uuid);
        console.log('dev_name >>> ',dev_name);
        console.log('dev_loc >>> ',dev_loc);
        console.log('dev_lat >>> ',dev_lat);
        console.log('dev_lon >>> ',dev_lon);
        console.log('tpro_prfx >>> ',tpro_prfx);
        console.log('tpro_file >>> ',tpro_file);
        console.log('dev_proj >>> ',dev_proj);
        console.log('pos1 >>> ',pos1);
        console.log('pos2 >>> ',pos2);
        console.log('pos3 >>> ',pos3);
        console.log('pos4 >>> ',pos4);
        console.log('pos5 >>> ',pos5);
        console.log('pos6 >>> ',pos6);
        console.log('pos7 >>> ',pos7);
        console.log('pos8 >>> ',pos8);
        console.log('pos9 >>> ',pos9);
        console.log('pos10 >>> ',pos10);

        var formdata = new FormData();
        formdata.append('dev_name',dev_name);
        formdata.append('dev_loc',dev_loc);
        formdata.append('dev_lat',dev_lat);
        formdata.append('dev_lon',dev_lon);
        formdata.append('tpro_prfx',tpro_prfx);
        formdata.append('tpro_file',tpro_file);
        formdata.append('dev_proj',dev_proj);
        formdata.append('pos1',pos1);
        formdata.append('pos2',pos2);
        formdata.append('pos3',pos3);
        formdata.append('pos4',pos4);
        formdata.append('pos5',pos5);
        formdata.append('pos6',pos6);
        formdata.append('pos7',pos7);
        formdata.append('pos8',pos8);
        formdata.append('pos9',pos9);
        formdata.append('pos10',pos10);

        // ---------------  AJAX CALL  ----------------------------
    const csrftoken = getCookie('csrftoken');
    $.ajax({
        type: 'POST',
        url: "/update-site-detail/"+uuid,
        headers: { 'X-CSRFToken': csrftoken },
        data: formdata,
        cache : false,
        processData : false,
        contentType : false,
        encType : 'multipart/form-data',
        success: function (response) {
            console.log(response['response']);
            if(response['response'] == 'Site updated successfully.'){
                alert('record updated successfully');
                location.reload();
            }else{
                alert('record not updated due to : '+response['response']);
                return false;
            }
        }
    });
    // --------------------------------------------------------
    }
</script>
</html>
