{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
         <title>18Pixels | Management Tool</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!-- App css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" id="light-style">
        <link href="{% static 'assets/css/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style">
        <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css"  >

    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
             <div class="leftside-menu" id="sidebarMenus">
{% include 'base.html' %}
              </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                    <div class="navbar-custom" id="load-navigation"> 
                        {% include 'hearder.html' %}
                    </div>
                    <!-- end Topbar -->

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-8">
                                <div class="page-title-box">
                                    <h4 class="page-title">Add Leaves  </h4>
                                </div>
                            </div>
                             <div class="col-4 text-end pt-3">
                                 <a href="{% url 'get_leave_record' %}" class=" mb-3 mr-3"> Back to List</a>
                             </div>
                        </div>     
                        <!-- end page title --> 

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-xl-6 mx-auto ">
                                                <div class="mb-3">
                                                    <label for="project-budget" class="form-label">Employee*</label>
                                                    <select class="form-control select2" data-toggle="select2"   data-placeholder="Select Employee" id="getEmployeeID">
                                                        <option></option>
                                                        {% for i in empObj %}
                                                            <option value="{{i.id}}">{{i.employee_name}}</option>
                                                        {% endfor %}
                                                    </select> 
                                                </div>
                                                <div class="row position-relative">
                                                <div class="col-xl-6 ">
                                                     <div class="mb-3 position-relative" id="datepicker2">
                                                        <label class="form-label">Date (From)*</label>
                                                        <input id="from_date" type="text" class="form-control" data-provide="datepicker" data-date-container="#datepicker2" data-date-format="d-M-yyyy" data-date-autoclose="true"    placeholder="d-M-yyyy">
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 ">
                                                     <div class="mb-3 position-relative" id="datepicker3">
                                                        <label class="form-label">Date (To)*</label>
                                                        <input id="to_date" type="text" class="form-control" data-provide="datepicker" data-date-container="#datepicker3" data-date-format="d-M-yyyy" data-date-autoclose="true"    placeholder="d-M-yyyy">
                                                    </div>
                                                </div>

                                            </div>
                                             <div class="mb-3  ">
                                                <label for="task-title" class="form-label">Select Reason</label>
                                                <select class="form-select" id="getLeaveReason">
                                                    <option value="Sick Leave">Sick Leave</option>
                                                    <option value="Personal Work">Personal Work</option>
                                                    <option value="Traveling">Traveling</option>
                                                    <option value="Marriage">Marriage</option>
                                                </select>
                                             </div>
                                             <div class="mb-3 mt-4  text-end">
                                                <button class="btn btn-primary btn-lg" onclick="add_leave()">Add Leave</button>
                                            </div>
                                         </div>
                                             

                                        </div>
 
                                    </div>
                                    <!-- end row -->

                                </div> <!-- end card-body -->
                            </div> <!-- end card-->
                        </div> <!-- end col-->
                    </div>
                    <!-- end row-->
                    
                </div> <!-- container -->

            </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © Hyper - Coderthemes.com
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end footer-links d-none d-md-block">
                                    <a href="javascript: void(0);">About</a>
                                    <a href="javascript: void(0);">Support</a>
                                    <a href="javascript: void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->
 

        <!-- bundle -->
        <script src="{% static 'assets/js/vendor.min.js' %}"></script>
        <script src="{% static 'assets/js/app.min.js' %}"></script>

        <!-- plugin js -->
        <script src="{% static 'assets/js/vendor/dropzone.min.js' %}"></script>
        <!-- init js -->
        <script src="{% static 'assets/js/ui/component.fileupload.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>
        <script src="{% static 'assets/js/admin_JS/leaves_JS/add_leave.js' %}"></script>

        <script>
            {% comment %} $(function(){
                $('.datepicker').datepicker({
                    format: 'd-M-yyyy',
                    startDate: '+0d',
                    autoclose: false
                });
            }); {% endcomment %}
        </script>
    </body>
</html>
