{% load static %}
<!DOCTYPE html>
<html lang="en">
 
<head>
        <meta charset="utf-8" />
         <title>18Pixels | Management Tool</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!-- third party css -->
        <link href="{% static 'assets/css/vendor/dataTables.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/vendor/responsive.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
        <!-- third party css end -->

        <!-- App css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static 'assets/css/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style" />
        <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css"  />

    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu" id="sidebarMenus">
                {% include 'base.html' %}
              </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                   <div class="navbar-custom" id="load-navigation"> 
                        {% include 'hearder.html' %}
                   </div>
                    <!-- end Topbar -->
                    <!-- Start Content-->
                    <div class="container-fluid">
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-8">
                                <div class="page-title-box">
                                    <h4 class="page-title">Leave Management</h4>
                                </div>
                            </div>
                             <div class="col-4 text-end pt-3">
                                  <a href="#" data-bs-toggle="modal" data-bs-target="#add-new-desig" class="btn btn-danger mb-2" data-keyboard="false" data-backdrop="static"><i class="mdi mdi-plus-circle me-2"></i> Request for leave</a>
                             </div>
                        </div>  

                           <div class="row">
                            <div class="col-12">
                                <div class="card widget-inline">
                                    <div class="card-body p-0">
                                        <div class="row g-0">
                                            <div class="col-sm-6 col-md-4" data-bs-toggle="modal" data-bs-target="#add-new-desig1" data-keyboard="false" data-backdrop="static" style="cursor:pointer;" onclick="get_alloted_leaves()">
                                                <div class="card shadow-none m-0">
                                                    <div class="card-body text-center">
                                                        <i class="mdi mdi-cart-plus text-primary" style="font-size: 24px;"></i>
                                                        <h3><span>{{allot_leave}}</span></h3>
                                                        <p class="text-muted font-15 mb-0"> Alloted</p>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                            <div class="col-sm-6 col-md-4">
                                                <div class="card shadow-none m-0 border-start">
                                                    <div class="card-body text-center">
                                                        <i class="mdi mdi-cart-minus text-danger" style="font-size: 24px;"></i>
                                                        <h3><span>{{taken_leave}}</span></h3>
                                                        <p class="text-muted font-15 mb-0">Taken</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-4">
                                                <div class="card shadow-none m-0 border-start">
                                                    <div class="card-body text-center">
                                                        <i class="mdi mdi-cart-check  text-success" style="font-size: 24px;"></i>
                                                        <h3><span>{{remaining_leave}}</span></h3>
                                                        <p class="text-muted font-15 mb-0"> Remaining</p>
                                                    </div>
                                                </div>
                                            </div>
                                
                                        </div> <!-- end row -->
                                    </div>
                                </div> <!-- end card-box-->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row-->




                         
                         <div class="page-title-box    mb-2" >
                            <div class="row">
                                <div class="col-md-2">
                                    <h4 class="page-title mt-1 ">Leave Requests</h4>
                                </div>
                                <div class="col-md-4 text-end pro_name mb-2 pt-4">
                                      Filter By
                                </div>
                                <div class="col-md-2 pt-3">
                                 <select class="form-control select2" data-toggle="select2"    data-placeholder="Select Month" >
                                    <option></option>
                                    <option value="1">Jan</option>
                                    <option value="2">Feb</option>
                                    <option value="3">Mar</option>
                                    <option value="4">Apr</option>
                                    <option value="5">May</option>
                                    <option value="6">Jun</option>
                                    <option value="7">Jul</option>
                                    <option value="8">Aug</option>
                                    <option value="9">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                                </div>
                                <div class="col-md-2 pt-3">
                                 
                                 <select class="form-control select2" data-toggle="select2" id="session"  data-placeholder="Select Year" >
                                    <option value="2021-2022">2021-2022</option>
                                    <option value="2022-2023" selected>2022-2023</option>
                                </select>
                                </div>

                                <div class="col-md-2 text-end   pt-3   ">
                                  <a   class="btn btn-success  ms-3  " data-bs-toggle="modal" data-bs-target="#add-new-task-modal">Search</a>
                                  <a href=""  style="margin-left: 15px">Clear</a>
                               </div>
                                <!--  <div class="col-md-8 text-end    ">
                                    
                                 </div> -->
                            </div>
                             
                        </div>   
                        <!-- end page title --> 

                       <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                          <table id="basic-datatable" class="table leave_req dt-responsive nowrap w-100">
                                            <thead>
                                                <tr>
                                                    <th width="70">S.No.</th>
                                                    <th>Leave date</th>
                                                    <th>No. of Leaves</th>
                                                    <th>Reason</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in leaveObj %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td> 
                                                    <td>
                                                        {% if i.leave_date_to == None %}
                                                            {{i.leave_date_from}}
                                                        {% else %}
                                                            {{i.leave_date_from}} - {{i.leave_date_to}}
                                                        {% endif %}

                                                        {% if i.edit_leave_request != None %}
                                                            {% if i.edit_leave_request == 'delete request' %}
                                                                <div id="tooltip-container">
                                                                        <a href="javascript:void(0);" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Admin approval pending   | Request date : {{i.request_edit_date|date:"d M,Y"}}"  data-bs-placement="top" title="" class="d-inline-block">
                                                                            <span class="badge bg-danger">Leave Cancellation Request Sent</span></td>
                                                                        </a>
                                                                </div>
                                                            {% elif i.edit_leave_request == 'edit request' %}
                                                                <div id="tooltip-container">
                                                                        <a href="javascript:void(0);" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Admin approval pending | From : {{i.edit_date_from|date:"d M Y"}}, To : {{i.edit_date_to|date:"d M Y"}}  | Request date : {{i.request_edit_date|date:"d M,Y"}}"  data-bs-placement="top" title="" class="d-inline-block">
                                                                            <span class="badge bg-primary">Edit Leave Request Sent</span></td>
                                                                        </a>
                                                                </div>
                                                            
                                                            {% endif %}
                                                        {% elif i.rejection_feedback != None %}
                                                            <div id="tooltip-container">
                                                                <a href="javascript:void(0);" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="{{i.rejection_feedback}}"  data-bs-placement="top" title="" class="d-inline-block">
                                                                    <span class="badge bg-danger">Leave Rejection feedback available!</span></td>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    </td>
                                                    <td> {{i.no_of_leaves}} </td>
                                                    <td>{{i.leave_reason}}</td>
                                                    <td>
                                                        {% if i.leave_approval_status == 'pending' %}
                                                            <span class="badge bg-warning">pending</span>
                                                        {% elif i.leave_approval_status == 'approved' %}
                                                            <span class="badge bg-success">Approved</span>
                                                        {% elif i.leave_approval_status == 'rejected' %}
                                                            <span class="badge bg-danger">Rejected</span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if i.view == 'yes' %}
                                                            {% if i.leave_approval_status == 'pending' %}
                                                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit-date-pending" class="mb-2 action-icon text-warning" data-keyboard="false" data-backdrop="static"  leaveID="{{i.id}}" onclick="fetch_edit_leaves(this)"><i class="mdi mdi-square-edit-outline"></i></a>
                                                            <a href="{% url 'cancel_leave_request' i.id %}"  data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="cancel request"  data-bs-placement="top" title="" class="action-icon text-danger"><i class="mdi mdi-cancel" onclick="return confirm('Are you sure you want to cancel/delete this request?');"></i></a>
                                                            {% elif i.leave_approval_status == 'approved' %}
                                                            <a href="javascript:void(0);"  data-bs-toggle="modal" data-bs-target="#request-edit-date-pending" class="mb-2 action-icon text-info" data-keyboard="false" data-backdrop="static" leaveID="{{i.id}}" onclick="fetch_edit_leaves(this)"><i class="mdi mdi-square-edit-outline"></i></a>
                                                            <a href="{% url 'cancel_leave_request_to_admin' i.id %}"  data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="request to cancel leave"  data-bs-placement="top" title="" class="action-icon text-danger" onclick="return confirm('Are you sure you want to send cancel request to admin?');"><i class="mdi mdi-cancel"></i></a>
                                                            {% elif i.leave_approval_status == 'rejected' %}
                                                            <a href="javascript:void(0);"  data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="edit request"  data-bs-placement="top" title="" class="action-icon text-secondary" style="pointer-events:none;"><i class="mdi mdi-square-edit-outline"></i></a>
                                                            <a href="javascript:void(0);"  data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="cancel request"  data-bs-placement="top" title="" class="action-icon text-secondary" style="pointer-events:none;"><i class="mdi mdi-cancel"></i></a>
                                                            {% endif %}
                                                        {% else %}
                                                            {% if i.leave_approval_status == 'pending' %}
                                                            <a href="javascript:void(0);"  data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="edit request"  data-bs-placement="top" title="" class="action-icon text-secondary" style="pointer-events:none;"><i class="mdi mdi-square-edit-outline"></i></a>
                                                            <a href="javascript:void(0);"  data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="cancel request"  data-bs-placement="top" title="" class="action-icon text-secondary" style="pointer-events:none;"><i class="mdi mdi-cancel"></i></a>
                                                            {% elif i.leave_approval_status == 'approved' %}
                                                            <a href="javascript:void(0);"  data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="request to edit leave"  data-bs-placement="top" title="" class="action-icon text-secondary" style="pointer-events:none;"><i class="mdi mdi-square-edit-outline"></i></a>
                                                            <a href="javascript:void(0);"  data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="request to cancel leave"  data-bs-placement="top" title="" class="action-icon text-secondary" style="pointer-events:none;"><i class="mdi mdi-cancel"></i></a>
                                                            {% elif i.leave_approval_status == 'rejected' %}
                                                            <a href="javascript:void(0);"  data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="edit request"  data-bs-placement="top" title="" class="action-icon text-secondary" style="pointer-events:none;"><i class="mdi mdi-square-edit-outline"></i></a>
                                                            <a href="javascript:void(0);"  data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="cancel request"  data-bs-placement="top" title="" class="action-icon text-secondary" style="pointer-events:none;"><i class="mdi mdi-cancel"></i></a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                                {% comment %} <tr>
                                                    <td>1</td>
                                                     
                                                     <td>Nov 20, 2021</td>
                                                     <td>01</td>
                                                     <td>Sick Leave</td>
                                                     <td> 
                                                         <span class="badge bg-warning">pending</span>
                                                     </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                        
                                                    <td>Oct 25, 2021 - Oct 28, 2021</td>
                                                    <td> 03 </td>
                                                     <td>Personal Work</td>
                                                    <td> 
                                                          <span class="badge bg-success">Approved</span>
                                                     </td>
                                                    
                                                </tr>

                                                <tr>
                                                    <td>3</td>
                                                       
                                                    <td>Sept 15, 2021 </td>
                                                    <td> 01 </td>
                                                     <td>Sick leave</td>
                                                     <td> 
                                                        <span class="badge bg-danger">rejected</span>
                                                     </td>
                                                    
                                                </tr> {% endcomment %}
                                            </tbody>
                                        </table>
                                        </div>
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->
                        
                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © 18pixels 
                            </div>
                            
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <!-- add desig modal -->
        <div class="modal fade task-modal-content show" id="add-new-desig" tabindex="-1" role="dialog" aria-labelledby="NewTaskModalLabel" aria-modal="true" >
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="NewTaskModalLabel">Request Leave</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="p-2">
                            <div class="row">
                                <div class="col-md-12">
                                    
                                   
                                     <div class="mb-3 position-relative" id="datepicker2">
                                        <label class="form-label">Date (from)</label>
                                        <input id="from_date" type="text" class="form-control" data-provide="datepicker" data-date-container="#datepicker2" data-date-format="d-M-yyyy" data-date-autoclose="true"    placeholder="d-M-yyyy">
                                    </div>
                                    <div class="mb-3 position-relative" id="datepicker2">
                                        <label class="form-label">Date (To)</label>
                                        <input id="to_date" type="text" class="form-control" data-provide="datepicker" data-date-container="#datepicker2" data-date-format="d-M-yyyy" data-date-autoclose="true"    placeholder="d-M-yyyy">
                                    </div>
                                    <div class="mb-3">
                                        <label for="task-title" class="form-label">Reason</label>
                                       <select class="form-select" id='getLeaveReason'>
                                            <option value="Sick Leave">Sick Leave</option>
                                            <option value="Personal Work">Personal Work</option>
                                            <option value="Traveling">Traveling</option>
                                            <option value="Marriage">Marriage</option>
                                       </select>
                                    </div>
                                 </div>
                               </div>
                              <div class="text-end mt-4">
                                <button  type="button" class="btn btn-light" data-bs-dismiss="modal" >Cancel</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="add_leave_request()">Create</button>
                             </div>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!-- /End-modal -->



        <!-- add desig modal -->
        <div class="modal fade task-modal-content show" id="edit-date-pending" tabindex="-1" role="dialog" aria-labelledby="NewTaskModalLabel" aria-modal="true" >
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="NewTaskModalLabel">Edit Leave</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="p-2">
                            <div class="row">
                                <div class="col-md-12">
                                    
                                   
                                     <div class="mb-3 position-relative" id="datepicker2">
                                        <label class="form-label">Date (from)</label>
                                        <input id="from_date_edit" type="date" class="form-control" data-provide="datepicker" data-date-container="#datepicker2" data-date-format="d-M-yyyy" data-date-autoclose="true"    placeholder="d-M-yyyy">
                                    </div>
                                    <div class="mb-3 position-relative" id="datepicker2">
                                        <label class="form-label">Date (To)</label>
                                        <input id="to_date_edit" type="date" class="form-control" data-provide="datepicker" data-date-container="#datepicker2" data-date-format="d-M-yyyy" data-date-autoclose="true"    placeholder="d-M-yyyy">
                                    </div>
                                    <div class="mb-3">
                                        <label for="task-title" class="form-label">Reason</label>
                                       <select class="form-select" id='getLeaveReason_edit'>
                                            <option value="Sick Leave">Sick Leave</option>
                                            <option value="Personal Work">Personal Work</option>
                                            <option value="Traveling">Traveling</option>
                                            <option value="Marriage">Marriage</option>
                                       </select>
                                    </div>
                                 </div>
                               </div>
                              <div class="text-end mt-4">
                                <button  type="button" class="btn btn-light" data-bs-dismiss="modal" >Cancel</button>
                                <button type="button" class="btn btn-primary" onclick="edit_leave(this)" id="edit_request_btn" leaveId="">Update</button>
                             </div>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!-- /End-modal -->





        <!-- add desig modal -->
        <div class="modal fade task-modal-content show" id="request-edit-date-pending" tabindex="-1" role="dialog" aria-labelledby="NewTaskModalLabel" aria-modal="true" >
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="NewTaskModalLabel">Request Edit</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="p-2">
                            <div class="row">
                                <div class="col-md-12">
                                    
                                   
                                     <div class="mb-3 position-relative" id="datepicker2">
                                        <label class="form-label">Date (from)</label>
                                        <input id="from_date_edit_request" type="text" class="form-control" data-provide="datepicker" data-date-container="#datepicker2" data-date-format="d-M-yyyy" data-date-autoclose="true"    placeholder="d-M-yyyy">
                                    </div>
                                    <div class="mb-3 position-relative" id="datepicker2">
                                        <label class="form-label">Date (To)</label>
                                        <input id="to_date_edit_request" type="text" class="form-control" data-provide="datepicker" data-date-container="#datepicker2" data-date-format="d-M-yyyy" data-date-autoclose="true"    placeholder="d-M-yyyy">
                                    </div>
                                    <div class="mb-3">
                                        <label for="task-title" class="form-label">Reason</label>
                                       <select class="form-select" id='getLeaveReason_edit_request'>
                                            <option value="Sick Leave">Sick Leave</option>
                                            <option value="Personal Work">Personal Work</option>
                                            <option value="Traveling">Traveling</option>
                                            <option value="Marriage">Marriage</option>
                                       </select>
                                    </div>
                                 </div>
                               </div>
                              <div class="text-end mt-4">
                                <button  type="button" class="btn btn-light" data-bs-dismiss="modal" >Cancel</button>
                                <button type="button" class="btn btn-primary" onclick="edit_request(this)" id="edit_request_btn_pend"  leaveId="">Send Request</button>
                             </div>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!-- /End-modal -->




        <!-- add desig modal -->
        <div class="modal fade task-modal-content show" id="add-new-desig1" tabindex="-1" role="dialog" aria-labelledby="NewTaskModalLabel" aria-modal="true" >
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="NewTaskModalLabel">Alloted Leaves</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-striped tbl-history">
                                        <thead>
                                           <tr>
                                                <th>No of Leave</th>
                                                <th>Date</th>
                                                <th>Reason</th>
                                           </tr> 
                                       </thead>
                                       <tbody id='leavehistory'style="display:none;">
                                            {% comment %} <tr>
                                                <td>01</td>
                                                <td>Nov 01, 2021</td>
                                               <td>Monthly Paid leave</td>
                                            </tr>
                                            <tr>
                                                <td>02</td>
                                                <td>Nov 12, 2021 - Nov 13, 2021</td>
                                               <td>Work on holiday</td>
                                            </tr> {% endcomment %}
                                       </tbody>
                                    </table>
                                </div>
                                <div class="text-center" id='noRecordDiv' style="display:none;">
                                    <h4>No record found!</h4>
                                </div>
                            </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!-- /End-modal -->

        <!-- bundle -->
        <script src="{% static 'assets/js/vendor.min.js' %}"></script>
        <script src="{% static 'assets/js/app.min.js' %}"></script>

        <!-- third party js -->
        <script src="{% static 'assets/js/vendor/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/dataTables.bootstrap5.js' %}"></script>
        <script src="{% static 'assets/js/vendor/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/responsive.bootstrap5.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/dataTables.checkboxes.min.js' %}"></script>
        <!-- third party js ends -->

        <!-- demo app -->
        <script src="{% static 'assets/js/pages/demo.datatable-init.js' %}"></script>

        <script src="{% static 'assets/js/custom.js' %}"></script>
        <script src="{% static 'assets/js/admin_JS/leaves_JS/add_leave.js' %}"></script>
        <script src="{% static 'assets/js/admin_JS/leaves_JS/request_edit.js' %}"></script>
        <!-- end demo js-->
    </body>
 
</html>
