{% load static %}
<!DOCTYPE html>
<html lang="en">
 
<head>
        <meta charset="utf-8" />
        <title>Bin. Server Configuration Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!-- App css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static 'assets/css/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style" />
        <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css" />

    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu" id="sidebarMenus">
                {% include 'base.html' %}
              </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                    <div class="navbar-custom" id="load-navigation">{% include 'hearder.html' %} </div>
                    <!-- end Topbar -->
                    <!-- Start Content-->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card widget-inline mt-2">
                                    <div class="card-body p-0">
                                        <div class="row g-0">
                                            <div class="col-sm-6 col-xl-2">
                                                <div class="card  m-0">
                                                    <div class="card-body text-center">
                                                       <a href="#"> <i class="dripicons-briefcase text-muted" style="font-size: 24px;"></i>
                                                        <h3><span>{{sites|length}}</span></h3>
                                                        <p class="text-muted font-15 mb-0">Total Devices</p> </a>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="col-sm-6 col-xl-2">
                                                <div class="card m-0 border-start">
                                                    <div class="card-body text-center">
                                                       <a href="#"> <i class="dripicons-user-group text-muted" style="font-size: 24px;"></i>
                                                        <h3><span>{{total_emp|length}}</span></h3>
                                                        <p class="text-muted font-15 mb-0">Total Configured Parameters</p> </a>
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-sm-6 col-xl-2">
                                                <div class="card   m-0 border-start">
                                                    <div class="card-body text-center">
                                                      <a href="#">  <i class="dripicons-user-group text-muted" style="font-size: 24px;"></i>
                                                        <h3><span>{{total_online_emp|length|add:"-1"}}</span></h3>
                                                        <p class="text-muted font-15 mb-0"> Total Telepro Dependent Sites</p> </a>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="col-sm-6 col-xl-2">
                                                <div class="card   m-0 border-start">
                                                    <div class="card-body text-center">
                                                       <a href="#"> <i class="dripicons-star text-muted" style="font-size: 24px;"></i>
                                                        <h3><span>{{total_upcoming_event|length}}</span></h3>
                                                        <p class="text-muted font-15 mb-0">Total Telepro Independent Sites</p> </a>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="col-sm-6 col-xl-2">
                                                <div class="card   m-0 border-start">
                                                    <div class="card-body text-center">
                                                       <a href="#"> <i class="dripicons-user text-muted" style="font-size: 24px;"></i>
                                                        <h3>{{total_pending_leave_request|length}} </h3>
                                                        <p class="text-muted font-15 mb-0">Total Data Streaming Sites </p> </a>
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-sm-6 col-xl-2">
                                                <div class="card   m-0 border-start">
                                                    <div class="card-body text-center">
                                                       <a href="#"> <i class="dripicons-user text-muted" style="font-size: 24px;"></i>
                                                        <h3>{{total_job_applications|length}} </h3>
                                                        <p class="text-muted font-15 mb-0">Total Non Configured Sites </p> </a>
                                                    </div>
                                                </div>
                                            </div>
                
                                        </div> <!-- end row -->
                                    </div>
                                </div> <!-- end card-box-->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown float-end">
                                            {% comment %} {% if request.user.is_superuser %}
                                            <a href="" class="text-danger" title="sync. readings now (Admin rights only)">
                                                <i class="fa-solid fa-rotate"></i>
                                            </a>&nbsp;&nbsp;&nbsp;
                                            {% endif %}
                                            <a href="#" class="btn btn-sm btn-primary">
                                                View All Devices Configuration
                                            </a> {% endcomment %}
                                        </div>
                                        <h4 class="header-title mb-3"><i class="fa-solid fa-water"></i> Device Status</h4>
                                        <div data-simplebar style="max-height: 450px;">
                                           <div class="table-responsive ">
                                            <table class="table table-centered table-nowrap mb-0">
                                                <thead>
                                                    <tr class="text-center bg-body text-white">
                                                        <th>Related Project</th>
                                                        <th width="150"><strong>Site Name</strong></th>
                                                        <th width="150">Site Code</th>
                                                        <th width="150">Device Location</th>
                                                        <th width="300">Telepro Prefix & Filename</th>
                                                        <th width="150">Last Data Timestamp</th>
                                                        <th width="150">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="">
                                                    {% if sites %}
                                                        {% for site in sites %}
                                                        <tr class="text-center">
                                                            <td> 
                                                                {% if site.project %}
                                                                    <strong class="text-primary" data-toggle="tooltip" data-placement="top" title="{{site.project.described_name}}">{{site.project.name}}</strong>
                                                                {% else %}
                                                                    <span class="badge badge-danger-lighten">Not Configured</span>
                                                                {% endif %}
                                                            </td>
                                                            <td> <h5 class="font-14 my-1"><a href="#" class="text-primary">{% if site.name %} {{site.name|upper}}{% else %}-{% endif %}</a></h5></td>
                                                            <td> <h5 class="font-14 my-1"><a href="#" class="text-body">{{site.prefix|upper}}</a></h5></td>
                                                            <td>
                                                                <h5 class="font-14 mt-1 fw-normal">
                                                                    <i class="fa-solid fa-location-dot text-info"  data-toggle="tooltip" data-placement="top" title="Lat:{{site.site_lattitude}}, Lon:{{site.sit_longitude}}"></i> &nbsp;
                                                                    <small><strong>
                                                                        {% if site.device_location %}{{site.device_location|upper}}{% else %}-{% endif %}
                                                                    </strong></small>
                                                                </h5>
                                                            </td> 
                                                            <td>    
                                                                {% if site.tpro_prefix %}
                                                                    <small><strong class="text-primary">{{site.tpro_prefix}}</strong></small> <br>
                                                                    {% if site.tpro_file_name %}
                                                                        <small><strong>{{site.tpro_file_name}}</strong></small>
                                                                    {% else %}
                                                                        <small><strong>-</strong></small>
                                                                    {% endif %}
                                                                {% else %}
                                                                    <span class="badge badge-danger-lighten">Not Configured</span>
                                                                {% endif %}
                                                                {% comment %} <span class="badge badge-primary-lighten">{{allow_param|title}}</span> {% endcomment %}
                                                            </td>
                                                            <td> 
                                                                <h5 class="font-14 mt-1 fw-normal">{% if site.last_reading_received_at %}{{site.last_reading_received_at}}{% else %}
                                                                    <span class="badge badge-danger-lighten">NAT</span>{% endif %}</h5>
                                                            </td> 
                                                            <td> 
                                                                <h5 class="font-14 mt-1 fw-normal">
                                                                    <a href="{% url 'site_data' site.uuid %}" target="_blank" class="text-warning" data-toggle="tooltip" data-placement="top" title="access data"><i class="fa-solid fa-database"></i></a>&nbsp;&nbsp;
                                                                    <a href="{% url 'update_site_detail' site.uuid %}" class="text-primary" target="_blank" data-toggle="tooltip" data-placement="top" title="update device Configurations"><i class="fa-solid fa-pen-to-square"></i></a>&nbsp;&nbsp;
                                                                    <a href="" target="_blank" class="text-danger" data-toggle="tooltip" data-placement="top" title="access latest logs"><i class="fa-solid fa-list"></i></a>
                                                                </h5>
                                                            </td>   
                                                        </tr>
                                                        {% endfor %}
                                                    {% else %}
                                                    <tr class="text-center">
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                        </td> 
                                                        <td>    
                                                            <strong>
                                                                No Device Configured Yet!
                                                            </strong>
                                                        <td></td> 
                                                        <td></td>  
                                                        <td></td>   
                                                    </tr>
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                           </div> <!-- end table-responsive-->
                                        </div>
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                            {% comment %} <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown float-end">
                                            <a href="/task-management/task-list" class=""  >
                                                View all tasks
                                            </a>
                                            
                                        </div>
                                        <h4 class="header-title mb-3">Today Tasks</h4>

                                        <p>  <span class="badge font-14 bg-warning mr-2"> Doing: <b>{{doing}}</b></span>
                                            <span class="badge font-14 bg-info mr-2"> To-do: <b>{{todo}}</b></span>
                                          <span class="badge font-14 bg-danger mr-2">Delayed: <b>{{delay}}</b></span>
                                           
                                            <span class="badge font-14 bg-success mr-2"> Completed: <b>{{done}}</b></span>

                                        </p>
                                        <div data-simplebar style="max-height: 350px;">
                                           <div class="table-responsive ">
                                            <table class="table table-centered table-nowrap table-hover mb-0">
                                                <tbody>
                                                    <tr>
                                                        <th width="450">Task</th>
                                                        
                                                        <th>Status</th>
                                                        <th>Assigned to</th>
                                                        
                                                    </tr>

                                                    {% for i in TaskObj %}
                                                    <tr>
                                                        <td>
                                                            <p class="font-14 my-1  "> {{i.task_title}} <span class="font-12 d-block text-info">{{i.projectFK.project_name}}</span></p>
                                                        </td>
                                                        <td>
                                                            {% if i.task_status == 'To do' and i.status == 'delay' %}
                                                                <span class="badge badge-danger-lighten">{{i.status}}</span>
                                                            {% elif i.task_status == 'To do' %}
                                                                <span class="badge badge-primary-lighten">{{i.task_status}}</span>
                                                            {% elif i.task_status == 'Doing' %}
                                                                <span class="badge badge-info-lighten">{{i.task_status}}</span>
                                                            {% elif i.task_status == 'Review' %}
                                                                <span class="badge badge-warning-lighten">{{i.task_status}}</span>
                                                            {% elif i.task_status == 'Done' %}
                                                                <span class="badge badge-success-lighten">{{i.task_status}}</span>
                                                            {% else %}
                                                                <span class="badge badge-danger-lighten">{{i.status}}</span>
                                                            {% endif %}
                                                        </td>
                                                        <td> 
                                                             {{i.employeeFK.employee_name}}
                                                        </td>
                                                    </tr>
                                                    
                                                    {% endfor %}
                                                    
                                                </tbody>
                                            </table>
                                           </div>
                                        </div>

                                    </div> <!-- end card body-->
                                </div> 
                            </div> {% endcomment %}
                        </div>
                        <!-- end row-->
                </div> <!-- content -->
                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="https://i-telemetry.com/" target="_blank">
                                    <img src="https://i-telemetry.com/wp-content/uploads/2022/10/ittpl....png"  height="25px" alt="">
                                </a>
                            </div>
                            <div class="col-md-6  text-right">
                                <script>document.write(new Date().getFullYear())</script> © ITTPL
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


       
        <!-- /End-bar -->

        <!-- bundle -->

        <script src="{% static 'assets/js/vendor.min.js' %}"></script>
        <script src="{% static 'assets/js/app.min.js' %}"></script>

        <!-- third party js -->
        <script src="{% static 'assets/js/vendor/Chart.bundle.min.js' %}"></script>
        <!-- third party js ends -->

        <!-- demo app -->
        <script src="{% static 'assets/js/pages/demo.dashboard-projects.js' %}"></script>
        <!-- end demo js-->


        <script src="{% static 'assets/js/custom.js' %}"></script>

        
        
    </body>
 <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
 </script>
</html>
